{% extends 'layout.html' %}

{% block title %}500 Error{% endblock %}

{% block head %}
  {% parent %}

  <style>

  	div.img{
	  	margin: 5px;
	    padding: 5px;
	    height: auto;
	    width: auto;
	    float: center;
	    text-align: center;
  	}

  	div.img img {
	    display: inline;
	    margin: 5px;
	    border: 1px solid #ffffff;
	}

  </style>
{% endblock %}

{% block content %}

	<div class="img">
		<img src="/images/tinacry.png" alt="missing image" align="middle">
	</div>

	<h1>whoops something went wrong</h1>

	<a href='/'>start over</a>

{% endblock %}



