{% extends 'layout.html' %}


{% block title %}List{% endblock %}

{% block head %}
  {% parent %}

  	<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="all">

  	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

	<script>

		function markTaskCompleted(id){
			var req = new XMLHttpRequest(); 
			
			req.open("PUT", "/tasks/" + id, true);
			
			req.onreadystatechange = function () {
				if (req.readyState != 4 || req.status != 200){
					return;	
				}  
			};
			
			req.send();
		}
		 
		function deleteTask(id){
			var req = new XMLHttpRequest(); 
			
			req.open("DELETE", "/tasks/" + id, true);
			
			req.onreadystatechange = function () {
				if (req.readyState != 4 || req.status != 200){
					return;	
				}  
			};
			
			req.send();
		}


		$( document ).ready(function() {
			$(function(){
				$( "#sortable" ).sortable();
    			$( "#sortable" ).disableSelection();
  			});
	

			$(":checkbox").each(function(){
				if($(this).is(':checked')){
					$("label[for='"+$(this).attr("id")+"']").css("textDecoration", "line-through");
					// $(this).insertAfter()
				}
			});

			$(":checkbox").on("change", function(){
				console.log($(this).is(":checked"));

				if($(this).is(":checked")){
					$("label[for='"+$(this).attr("id")+"']").css("textDecoration", "line-through");
			
				}
				else{
					$("label[for='"+$(this).attr("id")+"']").css("textDecoration", "none");
			
				}
			});

			$(".glyphicon-trash").on("click", function(){
				console.log("here in trash");
				$(this).parent().slideUp();
			})
		});

		
		

	</script>

{% endblock %}


{% block content %}


<!-- 	<div class="page-header">
      	<h1>TO DO LIST</h1>
    </div>	 -->
	<div>

	<div class="col-sm-12">
		<form method="post">
			<input type="text" name="task" placeholder="to do item"/>
			<input type="submit" value="submit" class="btn btn-default btn-sm"></input>
		</form>
	</div>

<div>
	{% for task in taskList %} 
	{% if task.completed %}

	 <div class="col-sm-8 top-buffer">
      <div id="my-list" class="list-group">
		{% for task in taskList %}
			<div class="list-group-item">
				<label for='{{task.id}}' onclick="markTaskCompleted('{{task.id}}')">
					 <input id='{{task.id}}' {% if task.completed %} checked {% endif %} type="checkbox" >
					 	{{ task.description || ''}}
				</label>

			
				<span onclick="deleteTask('{{task.id}}')" class="pull-right glyphicon glyphicon-trash" aria-hidden="true"></span>


			</div>	
			
		{% endfor%}
      </div>
    </div>

    {% else %}
    <div class="col-sm-8">
      <div id="my-list-done" class="list-group">
		{% for task in taskList %}
			<div class="list-group-item">
				<label for='{{task.id}}' onclick="markTaskCompleted('{{task.id}}')">
					 <input id='{{task.id}}' {% if task.completed %} checked {% endif %} type="checkbox" >
					 	{{ task.description || ''}}
				</label>

			
				<span onclick="deleteTask('{{task.id}}')" class="pull-right glyphicon glyphicon-trash" aria-hidden="true"></span>


			</div>	
			
		{% endfor%}
      </div>
    </div> 
	{% endif %} 
    {% endfor %}
</div>

	<!-- <div class="col-sm-8 top-buffer">
      <div id="my-list" class="list-group">
		{% for task in taskList %}
			<div class="list-group-item">
				<label for='{{task.id}}' onclick="markTaskCompleted('{{task.id}}')">
					 <input id='{{task.id}}' {% if task.completed %} checked {% endif %} type="checkbox" >
					 	{{ task.description || ''}}
				</label>

			
				<span onclick="deleteTask('{{task.id}}')" class="pull-right glyphicon glyphicon-trash" aria-hidden="true"></span>


			</div>		
		{% endfor%}
      </div>
    </div>

    <div class="col-sm-8 no-top-buffer">
      <div id="my-list-done" class="list-group">
		{% for task in taskList %}
			<div class="list-group-item">
				<label for='{{task.id}}' onclick="markTaskCompleted('{{task.id}}')">
					 <input id='{{task.id}}' {% if task.completed %} checked {% endif %} type="checkbox" >
					 	{{ task.description || ''}}
				</label>

			
				<span onclick="deleteTask('{{task.id}}')" class="pull-right glyphicon glyphicon-trash" aria-hidden="true"></span>


			</div>		
		{% endfor%}
      </div>
    </div> -->

    <div>
    	<a class='logout btn btn-default' href='/logout' role='button'>log out</a>
    </div>
 </div>

{% endblock %}

