

body {
 /* padding: 50px;*/
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif; 
  background-image: url("/images/bartonsprings.jpg");
  width: 100%;
  height: 100%;
  background-position: center; 
  color: #000000;
  background-color: #D8D8D8;
  margin: 0;
}

.btn {
	border: 0 none;
	background-color: #597D8E;
	color: white;
} 

.btn:hover {
	background-color: #394A5E;
	color:white;
}

.top-buffer { margin-top:20px; !important}

.my-list{
	cursor: default;
}

.glyphicon-trash:hover {
	cursor: pointer;
}

.headerReplacement{
	color: #8F6BB2;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    margin-top: -1px;
    padding: 10px 10px 10px 10px;
}

.boxed{
    width: 450px;
    padding: 20px;
    top: 20%;
    left: 50%;
    /* text-align: center; */
    background-color: rgba(0,0,0,.5);
    color: #CCC;
    overflow: hidden;
    margin-left: -235px;
    position: absolute;
}

h1 {
	font-size: 350%;
	font-weight: bold;
	text-align: center;
	color: orange;
	text-shadow: 
	-2px -2px #000,  
    2px -2px #000,
    -2px 2px #000,
     2px 2px #000;
}

a {
  text-align: center; 
  display: block;
  margin: 0;
  color: white;
}

a:hover{
	color: orange;
}







